<h1>Scoreboard</h1>

<div id="scoreboard">
  <h2>Players</h2>
  <div id="players_list">
  </div>
</div>
<div id="player_details">
</div>
<div id="form">
  <h3>Create User</h3>
  <form id="user_form">
    <div>
      <label for="name">Name: </label><input type="text" name="name" value="" id="name" />
    </div>
    <div>
      <input type="submit" value="Save New User" />
    </div>
  </form>
</div>

<div id="new_game">
  <form id="game_form">
    <div>
      <label for="playerA">PlayerA</label>
      <select id="playerA" name="playerA">
        
      </select>
    </div>
    <div>
      <label for="playerB">PlayerB</label>
      <select id="playerB" name="playerB">
        
      </select>
    </div>
    <div>
      <input type="submit" value="Save new game" />
    </div>
  </form>
</div>