<h1>Scoreboard</h1>

<div id="scoreboard">
  <h2>Players Scoreboard</h2>
  <div id="players_list">
  </div>
</div>
<div id="player_details">
</div>
<div id="form">
  <form id="user_form">
    <div>
      <label for="name">Nombre</label><input type="text" name="name" value="" id="name" />
    </div>
    <div>
      <input type="submit" value="Guardar" >
    </div>
  </form>
</div>